@use 'style';

.CreateBlog{
    text-align: center;

    .blogTitle{
        color: style.$primary-color;
    }
   
    .blogDetails{
        width: 50%;
        color: style.$front-primary-color;
    }

    .blogHeader{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .labelblogs{
            margin: 0 30px;
        }
    }

    .btn-submit{
        background-color: style.$primary-color;
        padding: 5px 15px;
        color:style.$main-color;
        border-radius: 5px;
        border: none;
    }

}