@use 'style';

nav {

    display: flex;
    align-items: center;

   .container{
    background-color: style.$main-color;
    display: inline-block;
    min-width: 967px;
    border:1px solid black;
   }

    .website-brand-title{
        margin-left: 0px;
    }

    .logo-image{
        height: 50px;
        width: 50px;
        object-fit: cover;
        object-position: center;
    }

    p span{
        margin: 0px 5px;
        font-size: medium;
        font-weight: light;
    }
  
    

}